.nextButton{
  width: 80%;
  margin-top: 288px;
  background: #FFB800;
  font: Roboto;
  font-weight: bold;
  border: none;

}
.nextButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.cancelButton{
  margin-top:20px;
  width: 80%;
  border: none;
}
